In [ ]:
# Author: Isaac Mwendwa
# Reg. No: SCT211-0087/2016
# Computer Systems Project
# BSc. Computer Science 4.2
# SCIT -- JKUAT

## Workflow of Project
This project utilizes the Data Science Project Life Cycle, which has the following steps:

1. Business Understanding
2. Data Collection
3. Data Preparation
4. Exploratory Data Analysis
5. Feature Engineering
6. Model Building
7. Model Evaluation
8. Model Deployment
9. Model Monitoring and Maintenance

# Part 1: Business Understanding

### Background Information

* According to the United Nations, **300 million workers around the globe lived below the USD 1.25 a day poverty line in 2015.** 
> Moreover, in 2015, the number of employed young people aged 15-24 reduced to four in every ten people, down from five in every ten in 1991 ([UN Poverty Statistics](https://www.un.org/millenniumgoals/poverty.shtml)). 
* This is in contrast to the **steady growth of the World Gross Product by 2.5 percent in 2013 to a projected 3.1 percent growth in 2015**.
* This disparity is contrary to an economic theory known as **Okun’s Law, which points out that there is an inverse relation between growth and unemployment**. 
* Thus, economic growth should have a positive relation with employment, that is, more employment opportunities should be created with the growing of an economy
* However, if we compare the working poverty rates and poverty rates, there is a small difference, implying that employment is not always a guarantee against poverty: 
> * In 2015 for example, 10 per cent of the world’s population were poor, while 9 per cent of the world’s workers lived in poverty, with almost half in Sub-Saharan Africa ([The Working Poor](https://www.ilo.org/wcmsp5/groups/public/---dgreports/---stat/documents/publication/wcms_696387.pdf))
> * In 2022, 2 Billion Workers globally were in informal jobs without social protection ([UN SDG Goal 8](https://sdgs.un.org/goals/goal8))
* Thus, employed persons are just as vulnerable to poverty as everyone else, pointing to the need for renewed efforts to ensure decent work for all
* This predictive analysis project is aimed at providing insights to achieve Sustainable Development Goal (SDG) number 8, which is:
> **“Promote sustained, inclusive and sustainable economic growth, full and productive employment and decent work for all”** ([UN SDG Goal 8](https://sdgs.un.org/goals/goal8))



### Problem Statement
* The United Nations Development Program (UNDP) oversees the SDG goals which are a “universal call to action to end poverty, protect the planet and ensure that all people enjoy peace and prosperity by 2030”
* These goals were adopted in 2015 by all United Nations Member States, including the Republic of Kenya
* However, little work, if any, has been done to model the creation and sustenance of productive employment, based on the economic growth in Kenya
* The current situation of no analytics to provide actionable insights poses a challenge to the attainment of Sustainable Development Goal (SDG) number 8, which is to “promote sustained, inclusive and sustainable economic growth, full and productive employment and decent work for all”
* This project aims to:
> **Provide a real-time solution utilizing predictive analytics to predict the Number of People in Non-productive Employment, and the Total Number of People in Employment per Industry, given Economic Growth Metrics per Industry**
* The solution will provide actionable insights into which areas/sectors of the economy need remedial measures, to lead to the achievement of SDG 8


### Objectives of Project
(A). Main Objectives
1. To use predictive analytics to predict the number of people in non-productive employment in Kenya
2. To use predictive analysis to predict the total number of people in wage employment in Kenya

(B). Sub-Objectives
1. To estimate the correlation between economic growth and productive employment in Kenya
2. To determine the features which contribute to the relationship between the two variables (Feature Engineering)

### Introduction to concepts of Economic Growth and Productive Employment

* Gross Domestic Product(GDP) as a measure of Economic Growth
> * GDP = value of goods and services produced by the nations economy - value of goods and services used up in production
> * Two measures of GDP will be used in this study, the Contribution_to_GDP and Growth_by_GDP

* Productive Employment
> * Productive Employment is **employment yielding sufficient returns to labour, to permit a worker and his/her dependents a level of consumption above the poverty line**
> * The International Labour Organization (ILO) has set the International Poverty Line to **USD 2 (USD 1.90) a day**; hence any person earning below USD 2 a day is considered poor, a group the ILO refers to as the **'Working Poor'**
> * The working poor in this study will be the people earning **below KSh 10,000 a month (Wage_bracket_0_to_9999)**

### --------------------------------------------------- End of Business Understanding Section (Part 1)----------------------------------------

# Part 2: Data Collection

---



---



---


### Perform Data Extraction from PDF Files using camelot-py Module

### Prerequisites


* Installing dependecies for camelot-py, which include GhostScript and TKinter, on local machine
* Installing camelot-py module
* Testing camelot-py module
* Downloading yearly Statistical Abstract files from Kenya National Bureau of Statitics (KNBS)

#### Sources of data (PDF files, courtesy of KNBS)


* Statistical Abstract 2013
* Statistical Abstract 2014
* Statistical Abstract 2015
* Statistical Abstract 2017
* Statistical Abstract 2019

To extract data from the pdf files, I connect to local runtime, which has camelot-py module installed; to use the module for extraction

### Workflow
1. Set up notebook server to allow connection to local runtime; using the command provided in the next section
2. Look up for desired tables in pdf files, noting page numbers
3. Extract tables from the pdf files using the page numbers
4. Export tables to csv files, which will then be used in the data preparation section

#### Command for starting notebook server

jupyter notebook \ --NotebookApp.allow_origin='https://colab.research.google.com' \ --port=8888 \ --NotebookApp.port_retries=0

Import camelot-py module

In [ ]:
import camelot

Extracting tables from Statistical Abstract 2013

In [ ]:
# Statistical Abstract 2013
pathPdf = 'F:/1Workspace/1Data/STATISTICAL ABSTRACT 2013.pdf'
pathDataset = 'F:/1Workspace/1Data/'
tables = camelot.read_pdf(pathPdf, pages='285', flavor='stream', strip_text='*+')

numOfTables=tables.n
print('Number of tables: ' + str(numOfTables))

#Parsing Report
print('PARSING REPORT')
print(tables[0].parsing_report)

Number of tables: 1
PARSING REPORT
{'accuracy': 95.47, 'whitespace': 11.79, 'order': 1, 'page': 285}

In [ ]:
tables[0].to_csv(pathDataset + '/Wage Employment 2011.csv')

Extracting tables from Statistical Abstract 2014

In [ ]:
# Statistical Abstract 2014
pathPdf = 'F:/1Workspace/1Data/STATISTICAL-ABSTRACT-2014.pdf'
pathDataset = 'F:/1Workspace/1Data/'
tables = camelot.read_pdf(pathPdf, pages='74,77,265,266,267,268', flavor='stream', strip_text='*+\n')

numOfTables=tables.n
print('Number of tables: ' + str(numOfTables))

#Parsing Report
print('PARSING REPORT')
i=0
while i < numOfTables:
    print(tables[i].parsing_report)
    i+=1

Number of tables: 6
PARSING REPORT
{'accuracy': 99.36, 'whitespace': 8.12, 'order': 1, 'page': 74}
{'accuracy': 99.63, 'whitespace': 10.68, 'order': 1, 'page': 77}
{'accuracy': 91.57, 'whitespace': 31.06, 'order': 1, 'page': 265}
{'accuracy': 97.76, 'whitespace': 14.48, 'order': 1, 'page': 266}
{'accuracy': 99.17, 'whitespace': 14.48, 'order': 1, 'page': 267}
{'accuracy': 99.65, 'whitespace': 18.93, 'order': 1, 'page': 268}

In [ ]:
#Exporting Tables to CSV Files
tables[0].to_csv(pathDataset + '/Contribution to GDP by Percent 2009-2013.csv')
tables[1].to_csv(pathDataset + '/Growth  of GDP by Activity 2009-2013.csv')
tables[2].to_csv(pathDataset + '/Wage Employment 2010-2013.csv')
tables[3].to_csv(pathDataset + '/Wage Employment 2012.csv')
tables[4].to_csv(pathDataset + '/Wage Employment 2013.csv')
tables[5].to_csv(pathDataset + '/Wage Employment by Sex and Income 2010-2013.csv')

Extracting tables from Statistical Abstract 2015

In [ ]:
# Statistical Abstract 2015
pathPdf = 'F:/1Workspace/1Data/STATISTICAL ABSTRACT 2015.pdf'
pathDataset = 'F:/1Workspace/1Data/'
tables = camelot.read_pdf(pathPdf, pages='262', flavor='stream', strip_text='*+')

numOfTables=tables.n
print('Number of tables: ' + str(numOfTables))

#Parsing Report
print('PARSING REPORT')
print(tables[0].parsing_report)

Number of tables: 1
PARSING REPORT
{'accuracy': 93.42, 'whitespace': 27.43, 'order': 1, 'page': 262}

In [ ]:
tables[0].to_csv(pathDataset + '/Wage Employment 2014.csv')

Extracting tables from Statistical Abstract 2017

In [ ]:
# Statistical Abstract 2017
pathPdf = 'F:/1Workspace/1Data/STATISTICAL ABSTRACT 2017.pdf'
pathDataset = 'F:/1Workspace/1Data/'
tables = camelot.read_pdf(pathPdf, pages='101,102', flavor='stream', strip_text='*+\n')

numOfTables=tables.n
print('Number of tables: ' + str(numOfTables))

#Parsing Report
print('PARSING REPORT')
i=0
while i < numOfTables:
    print(tables[i].parsing_report)
    i+=1

Number of tables: 4
PARSING REPORT
{'accuracy': 93.23, 'whitespace': 19.68, 'order': 1, 'page': 101}
{'accuracy': 99.8, 'whitespace': 19.67, 'order': 2, 'page': 101}
{'accuracy': 93.23, 'whitespace': 19.68, 'order': 1, 'page': 102}
{'accuracy': 99.8, 'whitespace': 19.67, 'order': 2, 'page': 102}

In [ ]:
tables[1].to_csv(pathDataset + '/Wage Employment 2015.csv')
tables[3].to_csv(pathDataset + '/Wage Employment 2016.csv')

Extracting tables from Statistical Abstract 2019

In [ ]:
# Statistical Abstract 2019
pathPdf = 'F:/1Workspace/1Data/Statistical_Abstract_2019.pdf'
pathDataset = 'F:/1Workspace/1Data/'
tables = camelot.read_pdf(pathPdf, pages='30,32,63,64,65,66', flavor='stream', strip_text='*+\n')

numOfTables=tables.n
print('Number of tables: ' + str(numOfTables))

#Parsing Report
print('PARSING REPORT')
i=0
while i < numOfTables:
    print(tables[i].parsing_report)
    i+=1

Number of tables: 6
PARSING REPORT
{'accuracy': 99.55, 'whitespace': 9.21, 'order': 1, 'page': 30}
{'accuracy': 99.62, 'whitespace': 8.97, 'order': 1, 'page': 32}
{'accuracy': 88.77, 'whitespace': 29.29, 'order': 1, 'page': 63}
{'accuracy': 99.95, 'whitespace': 17.24, 'order': 1, 'page': 64}
{'accuracy': 99.96, 'whitespace': 19.67, 'order': 1, 'page': 65}
{'accuracy': 99.44, 'whitespace': 19.71, 'order': 1, 'page': 66}

In [ ]:
#Exporting Tables to CSV Files
tables[0].to_csv(pathDataset + '/Contribution to GDP by Percent 2012-2018.csv')
tables[1].to_csv(pathDataset + '/Growth  of GDP by Activity 2012-2018.csv')
tables[2].to_csv(pathDataset + '/Wage Employment 2014-2018.csv')
tables[3].to_csv(pathDataset + '/Wage Employment 2017.csv')
tables[4].to_csv(pathDataset + '/Wage Employment 2018.csv')
tables[5].to_csv(pathDataset + '/Wage Employment by Sex and Income 2014-2018.csv')

After performing data collection, we can now disconnect local runtime and switch to hosted runtime for the next sections

### --------------------------------------------------- End of Data Collection Section (Part 2)--------------------------------------------

---

# Part 3: Data Preparation

---

### Prerequisites
1. Preparing datasets using Microsoft Excel
2. Connection to hosted runtime
3. Migrating prepared datasets from local disk to Google Drive
4. Mounting Google Drive

### Workflow

1.   Joining yearly datasets to a single dataset spanning all the years (2011 -2018)
2.   Data Pre-processing

### Mounting Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Importing all packages needed

In [ ]:
#imports
import sys 
import numpy as np # linear algebra
from scipy.stats import randint
import pandas as pd # data processing, CSV file I/O 
import matplotlib.pyplot as plt # this is used for the plot the graph 
import seaborn as sns # used for plot interactive graph.

#### 3.1 Joining yearly datasets to a single dataset spanning all the years

In [ ]:
df2011 = pd.read_csv('/content/drive/My Drive/ColabNotebooks/Project/Wage_Employment_and_GDP_2011.csv')
df2012 = pd.read_csv('/content/drive/My Drive/ColabNotebooks/Project/Wage_Employment_and_GDP_2012.csv')
df2013 = pd.read_csv('/content/drive/My Drive/ColabNotebooks/Project/Wage_Employment_and_GDP_2013.csv')
df2014 = pd.read_csv('/content/drive/My Drive/ColabNotebooks/Project/Wage_Employment_and_GDP_2014.csv')
df2015 = pd.read_csv('/content/drive/My Drive/ColabNotebooks/Project/Wage_Employment_and_GDP_2015.csv')
df2016 = pd.read_csv('/content/drive/My Drive/ColabNotebooks/Project/Wage_Employment_and_GDP_2016.csv')
df2017 = pd.read_csv('/content/drive/My Drive/ColabNotebooks/Project/Wage_Employment_and_GDP_2017.csv')
df2018 = pd.read_csv('/content/drive/My Drive/ColabNotebooks/Project/Wage_Employment_and_GDP_2018.csv')

Checking shape of Yearly dataframes

In [ ]:
list_df = [df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018]

for i in list_df:
  r,c = i.shape
  print(r,c)

21 13
21 13
21 13
21 13
21 13
21 13
21 13
21 13

In [ ]:
#Joining datasets along the row
pathDataset = '/content/drive/My Drive/ColabNotebooks/Project/'
df = df2011.append([df2012, df2013, df2014, df2015, df2016, df2017, df2018],ignore_index=True, sort=False)
df.to_csv(pathDataset + 'Wage_Employment_and_GDP_2011_to_2018.csv')

### 3.2 Data Preprocessing

In [ ]:
import pandas as pd

#path to dataset
pathDataset = '/content/drive/My Drive/ColabNotebooks/Project/Wage_Employment_and_GDP_2011_to_2018.csv'

In [ ]:
#Reading dataset
df = pd.read_csv(pathDataset)
df.head()

   Unnamed: 0  ...    TOTAL
0           0  ...  341,422
1           1  ...    8,732
2           2  ...  276,885
3           3  ...   12,338
4           4  ...    7,890

[5 rows x 14 columns]

In [ ]:
df.columns

Index(['Unnamed: 0', 'Industry', 'Year', 'Contribution_by_Gdp',
       'Growth_of_GDP', '0 - 9,999', '10,000 - 14999', '15,000 - 19999',
       '20,000 - 24999', '25,000 - 29999', '30,000 - 49999', '50,000 - 99999',
       '100000+', 'TOTAL'],
      dtype='object')

In [ ]:
df.drop('Unnamed: 0', axis=1, inplace=True)

#### Renaming columns

In [ ]:
df.columns = ['Industry', 'Year', 'Contribution_to_GDP', 'Growth_of_GDP',
       'Wage_bracket_0_to_9999', 'Wage_bracket_10000_to_14999',
       'Wage_bracket_15000_to_19999', 'Wage_bracket_20000_to_24999',
       'Wage_bracket_25000_to_29999', 'Wage_bracket_30000_to_49999',
       'Wage_bracket_50000_to_99999', 'Wage_bracket_100000_plus', 'TOTAL']

In [ ]:
df.head()

                                            Industry  ...    TOTAL
0                  Agriculture, Forestry And Fishing  ...  341,422
1                               Mining And Quarrying  ...    8,732
2                                      Manufacturing  ...  276,885
3  Electricity, Gas, Steam And Air Conditioning S...  ...   12,338
4  Water Supply; Sewerage, Waste Management And R...  ...    7,890

[5 rows x 13 columns]

Checking number of unique Industry columns

In [ ]:
industry_col_unique = df.Industry.unique()

In [ ]:
print(len(industry_col_unique))

21

There are 21 unique columns in the compiled dataset as shown by the result above, which is as expected

#### Removing special characters from Wage_bracket columns

In [ ]:

cols = ['Wage_bracket_0_to_9999', 'Wage_bracket_10000_to_14999',
       'Wage_bracket_15000_to_19999', 'Wage_bracket_20000_to_24999',
       'Wage_bracket_25000_to_29999', 'Wage_bracket_30000_to_49999',
       'Wage_bracket_50000_to_99999', 'Wage_bracket_100000_plus', 'TOTAL']

df[cols] = df[cols].astype(str)  # cast to string

# Removing special characters
df[cols] = df[cols].replace({'\$': '', ',': '', '-': ''}, regex=True)

# Renaming Contribution_by_GDP column
#df.rename(columns = {'Contribution_by_Gdp':'Contribution_to_GDP'}, inplace = True)

# path to dataset
path = '/content/drive/My Drive/ColabNotebooks/Project/'
df.to_csv(path + 'Wage_Employment_and_GDP_2011_to_2018_Final.csv')

#### Reading sanitized dataset

In [ ]:
pathDataset = '/content/drive/My Drive/ColabNotebooks/Project/Wage_Employment_and_GDP_2011_to_2018_Final.csv'
df = pd.read_csv(pathDataset,
                 parse_dates=['Year'],
                 index_col=['Year'],
                 na_values=['nan','?','-'])
#df = df.set_index(['Year']) # Setting index to Year
#df.index = pd.to_datetime(df.index, format='%Y')  # Converting index to datetime
df

            Unnamed: 0  ...     TOTAL
Year                    ...
2011-01-01           0  ...  341422.0
2011-01-01           1  ...    8732.0
2011-01-01           2  ...  276885.0
2011-01-01           3  ...   12338.0
2011-01-01           4  ...    7890.0
...                ...  ...       ...
2018-01-01         163  ...  148755.0
2018-01-01         164  ...    7243.0
2018-01-01         165  ...   36332.0
2018-01-01         166  ...       NaN
2018-01-01         167  ...  115836.0

[168 rows x 13 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 168 entries, 2011-01-01 to 2018-01-01
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   168 non-null    int64
 1   Industry                     168 non-null    object
 2   Contribution_to_GDP          166 non-null    float64
 3   Growth_of_GDP                161 non-null    float64
 4   Wage_bracket_0_to_9999       96 non-null     float64
 5   Wage_bracket_10000_to_14999  144 non-null    float64
 6   Wage_bracket_15000_to_19999  152 non-null    float64
 7   Wage_bracket_20000_to_24999  167 non-null    float64
 8   Wage_bracket_25000_to_29999  167 non-null    float64
 9   Wage_bracket_30000_to_49999  167 non-null    float64
 10  Wage_bracket_50000_to_99999  167 non-null    float64
 11  Wage_bracket_100000_plus     154 non-null    float64
 12  TOTAL                        167 non-null    float64
dtypes: float64(11), int64(1), object(1)
memory usage: 18.4+ KB

In [ ]:
df.dtypes

Unnamed: 0                       int64
Industry                        object
Contribution_to_GDP            float64
Growth_of_GDP                  float64
Wage_bracket_0_to_9999         float64
Wage_bracket_10000_to_14999    float64
Wage_bracket_15000_to_19999    float64
Wage_bracket_20000_to_24999    float64
Wage_bracket_25000_to_29999    float64
Wage_bracket_30000_to_49999    float64
Wage_bracket_50000_to_99999    float64
Wage_bracket_100000_plus       float64
TOTAL                          float64
dtype: object

In [ ]:
df.shape

(168, 13)

In [ ]:
df.columns

Index(['Unnamed: 0', 'Industry', 'Contribution_to_GDP', 'Growth_of_GDP',
       'Wage_bracket_0_to_9999', 'Wage_bracket_10000_to_14999',
       'Wage_bracket_15000_to_19999', 'Wage_bracket_20000_to_24999',
       'Wage_bracket_25000_to_29999', 'Wage_bracket_30000_to_49999',
       'Wage_bracket_50000_to_99999', 'Wage_bracket_100000_plus', 'TOTAL'],
      dtype='object')

### Dealing with nan values -- filling nan with mean in the columns

In [ ]:
# finding all columns that have nan:
nan_list =[]  #list of columns with nan values
for j in range(2,13):
    if not df.iloc[:, j].notnull().all():
        nan_list.append(j)
nan_list

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
# filling nan with mean in any columns
for j in range(2,13):        
        df.iloc[:,j]=df.iloc[:,j].fillna(df.iloc[:,j].mean())

#### Verifying no column has NaN now

In [ ]:
# Checking if any column has nan
df.isnull().sum()

Unnamed: 0                     0
Industry                       0
Contribution_to_GDP            0
Growth_of_GDP                  0
Wage_bracket_0_to_9999         0
Wage_bracket_10000_to_14999    0
Wage_bracket_15000_to_19999    0
Wage_bracket_20000_to_24999    0
Wage_bracket_25000_to_29999    0
Wage_bracket_30000_to_49999    0
Wage_bracket_50000_to_99999    0
Wage_bracket_100000_plus       0
TOTAL                          0
dtype: int64

Checking dtypes of columns

In [ ]:
df.dtypes

Unnamed: 0                       int64
Industry                        object
Contribution_to_GDP            float64
Growth_of_GDP                  float64
Wage_bracket_0_to_9999         float64
Wage_bracket_10000_to_14999    float64
Wage_bracket_15000_to_19999    float64
Wage_bracket_20000_to_24999    float64
Wage_bracket_25000_to_29999    float64
Wage_bracket_30000_to_49999    float64
Wage_bracket_50000_to_99999    float64
Wage_bracket_100000_plus       float64
TOTAL                          float64
dtype: object

#### Casting Wage_bracket_ columns from float64 to int64

In [ ]:
cols = ['Wage_bracket_0_to_9999', 'Wage_bracket_10000_to_14999',
       'Wage_bracket_15000_to_19999', 'Wage_bracket_20000_to_24999',
       'Wage_bracket_25000_to_29999', 'Wage_bracket_30000_to_49999',
       'Wage_bracket_50000_to_99999', 'Wage_bracket_100000_plus']


df[cols] = df[cols].astype(int)  # cast to int

#### Confirming that the dtypes of Wage_bracket_ columns have been converted from float to int

In [ ]:
df.dtypes
#df.head()

Unnamed: 0                       int64
Industry                        object
Contribution_to_GDP            float64
Growth_of_GDP                  float64
Wage_bracket_0_to_9999           int64
Wage_bracket_10000_to_14999      int64
Wage_bracket_15000_to_19999      int64
Wage_bracket_20000_to_24999      int64
Wage_bracket_25000_to_29999      int64
Wage_bracket_30000_to_49999      int64
Wage_bracket_50000_to_99999      int64
Wage_bracket_100000_plus         int64
TOTAL                          float64
dtype: object

In [ ]:
df.describe()

       Unnamed: 0  Contribution_to_GDP  ...  Wage_bracket_100000_plus          TOTAL
count  168.000000           168.000000  ...                168.000000     168.000000
mean    83.500000             4.403012  ...               4186.000000  116453.365269
std     48.641546             6.463415  ...               6741.704946  127518.568458
min      0.000000            -2.800000  ...                 13.000000    1009.000000
25%     41.750000             0.800000  ...                540.000000   13902.250000
50%     83.500000             1.700000  ...               2585.000000   76407.500000
75%    125.250000             6.725000  ...               5052.750000  164204.250000
max    167.000000            34.800000  ...              56221.000000  576831.000000

[8 rows x 12 columns]

In [ ]:
df.columns

Index(['Unnamed: 0', 'Industry', 'Contribution_to_GDP', 'Growth_of_GDP',
       'Wage_bracket_0_to_9999', 'Wage_bracket_10000_to_14999',
       'Wage_bracket_15000_to_19999', 'Wage_bracket_20000_to_24999',
       'Wage_bracket_25000_to_29999', 'Wage_bracket_30000_to_49999',
       'Wage_bracket_50000_to_99999', 'Wage_bracket_100000_plus', 'TOTAL'],
      dtype='object')

#### Adding new column for total_number_in_wage_employment

To accomodate changes made in wage_bracket columns, we need to have a column for the new total number of people in wage_bracket columns

In [ ]:
# Removing unwanted columns, to remain with wage_bracket_cols
col_list= list(df)
unwanted = {'Unnamed: 0', 'Industry', 'Contribution_to_GDP', 'Growth_of_GDP', 'TOTAL'} # columns to remove
wage_bracket_cols = [e for e in col_list if e not in unwanted] # Removing columns in unwanted
wage_bracket_cols

['Wage_bracket_0_to_9999',
 'Wage_bracket_10000_to_14999',
 'Wage_bracket_15000_to_19999',
 'Wage_bracket_20000_to_24999',
 'Wage_bracket_25000_to_29999',
 'Wage_bracket_30000_to_49999',
 'Wage_bracket_50000_to_99999',
 'Wage_bracket_100000_plus']

In [ ]:
#  Adding new column for total, which is a sum of rows of wage_bracket_cols
df['Total_number_in_wage_employment'] = df[wage_bracket_cols].sum(axis=1)
df.head()

            Unnamed: 0  ... Total_number_in_wage_employment
Year                    ...
2011-01-01           0  ...                          341422
2011-01-01           1  ...                            8732
2011-01-01           2  ...                          276885
2011-01-01           3  ...                           14018
2011-01-01           4  ...                           21211

[5 rows x 14 columns]

### Deleting old total column, saving dataframe to csv (updated dataset)

In [ ]:
#Deleting old total column
df.drop('TOTAL', axis=1, inplace=True)

#Saving dataset
path = '/content/drive/My Drive/ColabNotebooks/Project/'  #path to dataset
df.to_csv(path + 'Wage_Employment_and_GDP_2011_to_2018_Updated.csv')  #saving updated dataset

### ---------------------------------------------------- End of Data Preparation Section (Part 3) -----------------------


---